:root{

    --dark1: #170312;
    --dark2: #2A2830;
    --dark3: #4C5B62;

    --colormain1: #F15846;
    --colormain2: #46DFF1;
    --colormain11: #B44234;
    --colormain22: #34A5B4;

    --white: #D9D9D9;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

header{
    width: 100%;
    height: 40px;
    background-color: #080810;
    display: flex;
   
}

.logo_icon{
    width: 50px;
    max-width: 100px;
    height: 25px;
    margin: auto;
    background-image: url(./Iconos/Logo.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
.menu_content{
    width: 18px;
    height: 18px;
    background-image: url(./Iconos/menu1.svg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
}

.firt-section_content {
    width: 100%;
    height: auto;
    background-color: #090911;
}

.firt-section_photo{
    width: 100%;
    height: 400px;
    max-width: 600px;
    background-image: url(./Iconos/photo_perfil.jpg);
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.firt-section_photo h1{
    color: var(--white);
    font-family: 'Comfortaa', cursive;
    position: absolute;
    top: 60px;
    left: 5%;
    margin-left: 20px;
    font-size: 2rem;
}


.firt-section_photo h2{
    color: #B44234;
    font-family: 'Comfortaa', cursive;
    position: absolute;
    top: 80px;
    left: 7%;
    margin-left: 20px;
    font-size: 1.6rem;
}

.perfil-section_content{
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #090911;
}

.perfil-section_content h1{
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 2rem;
    font-weight: bolder;
}

.perfil-section_content p{

    color: var(--colormain1);
    max-width: 600px;
    min-width: 320px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-family: 'Comfortaa', cursive;
    line-height: 2rem;
    padding-top: 15px;
}

.skil-section_content{
    background-color: var(--white);
    width: 100%;
    height: 600px;
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    
}

.skil-section_content .skil-section_imgG{
    background-image: url(./Iconos/gafas-cerca-computadora-portatil-reflejan-luz-pantalla-espacio-oscuro-copia.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.skil-section_content .skil-section_imgG h1{
    
    color: var(--colormain1);
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-top: 30px;
    font-size: 2.4rem;
}
.skil-section_content .skil-section_img1{
    background-image: url(./Iconos/html-5.png);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.skil-section_content .skil-section_img2{
    background-image: url(./Iconos/css.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

.skil-section_content .skil-section_img3{
    background-image: url(./Iconos/java-script.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-top: 3px solid black;
    border-right: 3px solid black;
}

.skil-section_content .skil-section_img4{
    background-image: url(./Iconos/ICONgit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

